/* funzioni reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 5px 10px;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* eventualmente da aggiungere posizione fissa della barra
    position: sticky;
    top: 0; */
}

button {
    background-color: blue;
    color: black;
}

/* come rimensionare un immagine? */

.imgjumbo {
    width: 600px;
}

.container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.chetiserve {
    display: flex;
    background-color: grey;
}

.colonna {
    width: 500px;
    height: 1000px;
    border: 5px solid black;
}