/* funzioni reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 5px 10px;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* eventualmente da aggiungere posizione fissa della barra
    position: sticky;
    top: 0; */
}

button {
    background-color: blue;
    color: white;
}

/* DA RIDIMENSIONARE immagine */

.imgjumbo {
    width: 600px;
}

h1 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;

    /* da verificare per quanto riguarda la "disposizione" del titolo 
    padding-right: 15px; */
}

.container {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    border: 5px solid green;

}

.container2 {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    border: 5px solid gray;

}

.container-col {
    display: flex;
    justify-content: space-between;
}

.colanna-vertical {
    width: 250px;
    height: 200px;

    border: 5px solid black;
}

.colonna-orizontal {
    border: 5px solid red;

}

.container-quad {
    /* impostazioni simili ad conteiner 2 */
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    border: 5px solid pink;

}