/* funzioni reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 5px 10px;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* eventualmente da aggiungere posizione fissa della barra
    position: sticky;
    top: 0; */
}

button {
    background-color: blue;
    color: white;
}

/* DA RIPOSIZIONARE immagine */
.imgjumbo {
    width: 600px;
}



.sottonav {
    background-color: rgb(170, 222, 236);
}

.titoloh1 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
}

.container {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

/* debug */
    border: 5px solid green;
}

/* per visualizzare bene ogni singolo div ed eventualmente assegnare nuove classi o id */
div {
    border: 2px solid orange;
}

.container2 {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

/* debug */
    border: 5px solid black;
}

.container-col {
    display: flex;
    justify-content: space-between;
}

.colanna-vertical {
    width: 250px;
    border: 2px solid grey;
}

.button-white {
    background-color: white;
    color: grey;
}

.colonna-orizontal {
    border: 2px solid grey;
    width: 100%;
}

.colonna-orizontal2 {
    border: 2px solid grey;
    width: 100%;
    display: flex;
}

#img-partner {
    width: 400px;
}



.container-quad {
    /* impostazioni simili ad conteiner 2 */
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    /* debug */
    border: 5px solid pink;
}

.wrap {
    display: flex;
    /* immagini dentro wrap devono essere centrate */
}

.minicard {
    /* classe data per spaziature ed altro */
}

.minicard > img {
    text-align: center;
}

.ridimensionaimg {
    width: 200px;
}